wsdl/usermanagement/UserManagementService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:usermgmt="http://schemas.verisign.com/pkiservices/2011/08/usermanagement"
	targetNamespace="http://schemas.verisign.com/pkiservices/2011/08/usermanagement" 
	elementFormDefault="qualified">

	<xs:simpleType name="VersionType" final="restriction">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{1,3}\.\d{0,3}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TransactionIDType" final="restriction">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40" />
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="createOrUpdateUserRequest" type="usermgmt:CreateOrUpdateUserRequestMessageType"/>
	<xs:complexType name="CreateOrUpdateUserRequestMessageType">
		<xs:sequence>
			<xs:element name="clientTransactionID" type="usermgmt:TransactionIDType" minOccurs="0" />
			<xs:element name="userInformation" type="usermgmt:UserInformationType" maxOccurs="unbounded"/>
			<xs:element name="version" type="usermgmt:VersionType"/>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="UserInformationType">
		<xs:sequence>
			<xs:element name="seatId" type="xs:string" />
			<xs:element name="firstName" type="xs:string" minOccurs="0"/>
			<xs:element name="lastName" type="xs:string" minOccurs="0"/>
			<xs:element name="emailAddress" type="xs:string" minOccurs="0"/>
			<xs:element name="deskPhoneNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="mobilePhoneNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="userAttribute" type="usermgmt:NameValueType" 
									minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
    <xs:complexType name="NameValueType">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="value" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

	<xs:element name="createOrUpdateUserResponse" type="usermgmt:CreateOrUpdateUserResponseMessageType"/>
	<xs:complexType name="CreateOrUpdateUserResponseMessageType">
		<xs:sequence>
			<xs:element name="clientTransactionID" type="usermgmt:TransactionIDType"
				minOccurs="0" />
			<xs:element name="serverTransactionID" type="usermgmt:TransactionIDType" />
			<xs:element name="userCreationStatus" type="usermgmt:UserCreationStatusType" maxOccurs="unbounded"/>
			<xs:element name="version" type="usermgmt:VersionType" />
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="UserCreationStatusType">
        <xs:sequence>
            <xs:element name="seatId" type="xs:string" />
            <xs:element name="statusCode" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
	
	<xs:element name="createOrUpdatePasscodeRequest" type="usermgmt:CreateOrUpdatePasscodeRequestMessageType"/>
	<xs:complexType name="CreateOrUpdatePasscodeRequestMessageType">
		<xs:sequence>
			<xs:element name="clientTransactionID" type="usermgmt:TransactionIDType" minOccurs="0" />
			<xs:element name="passcodeInformation" type="usermgmt:PasscodeInformationType" maxOccurs="unbounded"/>
			<xs:element name="version" type="usermgmt:VersionType"/>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="PasscodeInformationType">
		<xs:sequence>
			<xs:element name="passcode" type="xs:string" minOccurs="0"/>
			<xs:element name="numberOfBadAttempts" type="xs:int" minOccurs="0"/>
			<xs:element name="passcodeStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="expiryDateTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="creationDateTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="seatId" type="xs:string" />
			<xs:element name="firstName" type="xs:string" minOccurs="0"/>
			<xs:element name="lastName" type="xs:string" minOccurs="0"/>
			<xs:element name="email" type="xs:string" minOccurs="0"/>
			<xs:element name="certificateProfileOid" type="xs:string"/>
			<xs:element name="enrollmentURL" type="xs:string" minOccurs="0"/>
			<xs:element name="userAttribute" type="usermgmt:NameValueType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
        
	<xs:element name="createOrUpdatePasscodeResponse" type="usermgmt:CreateOrUpdatePasscodeResponseMessageType"/>
	<xs:complexType name="CreateOrUpdatePasscodeResponseMessageType">
		<xs:sequence>
			<xs:element name="clientTransactionID" type="usermgmt:TransactionIDType"
				minOccurs="0" />
			<xs:element name="serverTransactionID" type="usermgmt:TransactionIDType" />
			<xs:element name="passcodeCreationStatus" type="usermgmt:PasscodeCreationStatusType" maxOccurs="unbounded"/>
			<xs:element name="version" type="usermgmt:VersionType" />
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
    <xs:complexType name="PasscodeCreationStatusType">
        <xs:sequence>
            <xs:element name="passcodeInformation" type="usermgmt:PasscodeInformationType" />
            <xs:element name="statusCode" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

	<xs:simpleType name="RevokeReasonCodeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Unspecified" />
			<xs:enumeration value="KeyCompromise" />
			<xs:enumeration value="CACompromise" />
			<xs:enumeration value="AffiliationChanged" />
			<xs:enumeration value="CessationOfOperation" />
			<xs:enumeration value="PrivilegeWithdrawn" />
			<xs:enumeration value="AACompromise" />
			<xs:enumeration value="Superseded" />
		</xs:restriction>
	</xs:simpleType>
    
	<xs:element name="deleteUserRequest" type="usermgmt:DeleteUserRequestMessageType"/>
	<xs:complexType name="DeleteUserRequestMessageType">
		<xs:sequence>
			<xs:element name="clientTransactionID" type="usermgmt:TransactionIDType" minOccurs="0" />
			<xs:element name="seatId" type="xs:string"/>
			<xs:element name="revocationReason" type="usermgmt:RevokeReasonCodeEnum" minOccurs="0" />			
			<xs:element name="version" type="usermgmt:VersionType"/>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

    <xs:complexType name="DeleteUserStatusType">
		<xs:sequence>
			<xs:element name="status" type="xs:string" />
			<xs:element name="errorCode" type="xs:string" />			
			<xs:element name="seatId" type="xs:string" />
			<xs:element name="revocationCount" type="xs:int" />
		</xs:sequence>
    </xs:complexType>
	
	<xs:element name="deleteUserResponse" type="usermgmt:DeleteUserResponseMessageType"/>
	<xs:complexType name="DeleteUserResponseMessageType">
		<xs:sequence>
			<xs:element name="clientTransactionID" type="usermgmt:TransactionIDType"
				minOccurs="0" />
			<xs:element name="serverTransactionID" type="usermgmt:TransactionIDType" />
			<xs:element name="deleteUserStatus" type="usermgmt:DeleteUserStatusType" />
			<xs:element name="version" type="usermgmt:VersionType" />
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="bulkDeleteUserRequest" type="usermgmt:BulkDeleteUserRequestMessageType"/>
	<xs:complexType name="BulkDeleteUserRequestMessageType">
		<xs:sequence>
			<xs:element name="clientTransactionID" type="usermgmt:TransactionIDType" minOccurs="0" />
			<xs:element name="seatId" type="xs:string" maxOccurs="25"/>
			<xs:element name="revocationReason" type="usermgmt:RevokeReasonCodeEnum" minOccurs="0" />			
			<xs:element name="version" type="usermgmt:VersionType"/>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="bulkDeleteUserResponse" type="usermgmt:BulkDeleteUserResponseMessageType"/>
	<xs:complexType name="BulkDeleteUserResponseMessageType">
		<xs:sequence>
			<xs:element name="clientTransactionID" type="usermgmt:TransactionIDType"
				minOccurs="0" />
			<xs:element name="serverTransactionID" type="usermgmt:TransactionIDType" />
			<xs:element name="deleteUserStatus" type="usermgmt:DeleteUserStatusType" maxOccurs="25" />
			<xs:element name="version" type="usermgmt:VersionType" />
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>					

	<xs:element name="getPasscodeInformationRequest" type="usermgmt:GetPasscodeInformationRequestMessageType"/>
	<xs:complexType name="GetPasscodeInformationRequestMessageType">
		<xs:sequence>
			<xs:element name="clientTransactionID" type="usermgmt:TransactionIDType" minOccurs="0" />
			<xs:element name="seatId" type="xs:string" />
			<xs:element name="certificateProfileOid" type="xs:string"/>
            <xs:element name="version" type="usermgmt:VersionType"/>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>


	<xs:element name="getPasscodeInformationResponse" type="usermgmt:GetPasscodeInformationResponseMessageType"/>
	<xs:complexType name="GetPasscodeInformationResponseMessageType">
		<xs:sequence>
			<xs:element name="clientTransactionID" type="usermgmt:TransactionIDType"
				minOccurs="0" />
			<xs:element name="serverTransactionID" type="usermgmt:TransactionIDType" />
			<xs:element name="passcodeInformation" type="usermgmt:PasscodeInformationType" />
            <xs:element name="version" type="usermgmt:VersionType" />
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="getUserInformationRequest" type="usermgmt:GetUserInformationRequestMessageType"/>
	<xs:complexType name="GetUserInformationRequestMessageType">
		<xs:sequence>
			<xs:element name="clientTransactionID" type="usermgmt:TransactionIDType" minOccurs="0" />
			<xs:element name="seatId" type="xs:string" />
            <xs:element name="getUserCertificate" type="xs:boolean" minOccurs="0" />
            <xs:element name="version" type="usermgmt:VersionType"/>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

    <xs:complexType name="UserValidCertificatesType">
        <xs:sequence>
            <xs:element name="userCertificate" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getUserInformationResponse" type="usermgmt:GetUserInformationResponseMessageType"/>
    <xs:complexType name="GetUserInformationResponseMessageType">
        <xs:sequence>
            <xs:element name="clientTransactionID" type="usermgmt:TransactionIDType"
                minOccurs="0" />
            <xs:element name="serverTransactionID" type="usermgmt:TransactionIDType" />
            <xs:element name="userInformation" type="usermgmt:UserInformationType" />
            <xs:element name="userValidCertificates" type="usermgmt:UserValidCertificatesType" minOccurs="0"/>
            <xs:element name="version" type="usermgmt:VersionType" />
            <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>



</xs:schema>
